<div class="container">
  <div id="hashtag" class="container tab-pane active">
    <div class="input-group" style="margin-top: 20px">
      <%= form_for :hashtag, url: '/', html: {style: "width: 100%"} do |f| %>
        <%= text_field_tag :hashtag, nil, style: "width: 70%", placeholder: "Enter a Hashtag" %>
        <%= text_field_tag :times, nil, style: "width: 15%", placeholder: "Number of Posts" %>
        <%= f.submit "Crawl", class: "btn btn-dark", data: {confirm: "Are you sure to crawl this hashtag?"}%>
      <% end %>
    </div>
    <hr>
    <table class="table">
      <thead class="thead-dark text-center">
        <th>#</th>
        <th>Date</th>
        <th>Tag</th>
        <th>Post</th>
        <th>People</th>
        <th></th>
      </thead>
      <tbody class="text-center">
        <%@hashtags.each_with_index do |tag, index|%>
          <tr>
            <td><%=index + 1%></td>
            <td><%=tag.date%></td>
            <td><%=tag.tag%></td>
            <td><%=link_to "Download", "/posts/#{tag.id}", method: :post, class: "btn btn-info"%></td>
            <td><%=link_to "Download", "/people/#{tag.id}", method: :post, class: "btn btn-info"%></td>
            <td><%=link_to "Delete", "/#{tag.id}", method: :delete, class: "btn btn-danger"%></td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>

